* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.5);
}



.container-xx {
  overflow-y: auto;
  overflow-x: hidden;
}

.container-xx.openview {
  // -webkit-overflow-scrolling: touch;
}

// View Bar
.view-bar {
  position: fixed;
  top:0;
  right: 0;
  left: 330px;
  height: 44px;
  box-sizing: border-box;
  z-index: 1002;
  color:#FFF;
  line-height: 60px;
  overflow: hidden;
}

.container-xs .view-bar,
.container-sm .view-bar {
  left: 150px;
}



//View Content
.view-content {
  margin-left: 230px;
  margin-top:60px;
}

.container-xs .view-content,
.container-sm .view-content {
  margin-left: 0px;
}




// System Bar
.container-xx .systembar {
  position: fixed;
  right: 0;
  left: 0;
  top:0;
  height: 60px;
  box-sizing: border-box;
  z-index: 1001;
}



// User Menu
.container-xx .usermenu .view-bar {
  display: none;
}

.container-xx.openusermenu {
}

.container-xx.openusermenu .usermenu .view-bar {
  display: block;
}

.container-xx .usermenu .view-content {
  top: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 0px; 
  margin-left: 0px;
}

.container-xs .usermenu .view-content,
.container-sm .usermenu .view-content {
  width: 100%;
}

.opensystemmenu .views
{
  display: none;
}

.opensystemmenu .systemmenu {
  display: block !important;
}

.container-xs.openusermenu .views,
.container-sm.openusermenu .views {
  display: none;
}

.container-xs.openusermenu .usermenu,
.container-sm.openusermenu .usermenu {
  display: block !important;
}

.container-xx .systemmenu .view-content {
  -webkit-overflow-scrolling: touch;
}
